# Crypto related functions and helpers for Swift
github "krzyzanowskim/CryptoSwift" == 0.13.0

# We code in Asynchronous world. We promise. [http://promisekit.org/]
github "mxcl/PromiseKit" == 6.8.4

# JSON Parser
github "SwiftyJSON/SwiftyJSON" == 4.2.0

# DFU code from Nordic
github "NordicSemiconductor/IOS-Pods-DFU-Library" == 4.2.2

# Bluenet Shared protocols
github "crownstone/bluenet-ios-shared" == 0.6.0
